@font-face {
    font-family: Acorn;
    src: url(fonts/Acorn-Medium.ttf);
}

body {
    height: 100%;
    width: 100%;
    background: linear-gradient(#111111,#161616,#353535, #4e4e4e);
    color: #F9F9F9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

/*---- MAIN ----*/

.section--main {
    height: 100vh;
    text-align: center;
    /*padding: 10vw;*/
    /*background-color: #242424;*/
    ;
}

h1 {
    padding-top: 45vh;
    padding-bottom: 5px;
    font-family: Acorn;
    text-transform: uppercase;
    color: #E42278;
    font-size: 8VW;
    margin: 0;
    transition: text-shadow, font-size 2s;


}

h1:hover{
    text-shadow: 0 0 3px #E42278;
    font-size: 8.3vw;
}


.main--description{
    font-size: 2.5vw;
    color: #E42278;
    font-weight: 600;
    text-transform: uppercase;

}

.main--description{
    margin: 0;
}

/*---- ABOUT ME ----*/


.section--aboutMe {
    height: 110vh;
    text-align: center;

}

.section--title {
    text-transform: uppercase;
    font-family: Acorn;
    text-align: center;
    padding-top: 10vw;
    font-size: 8vw;
    color: #E42278;
    transition: text-shadow, font-size 1s;

}

.section--title:hover {
    font-size: 10.5vw;
    text-shadow: 0 0 3px #E42278;
}

.aboutMe--container {
    margin-top: 0;
    display: inline-flex;
}

.aboutMe--description--container {
    margin-left: 2vw;
    width: 61vw;
    height: auto;
    font-size: 2.5vw;
    text-align: left;
}
.aboutMe--firstContainer {
    display: inline-flex;
}

.aboutMe--description1 {
    font-family: Acorn;
    font-size: 3vw;
    padding: 1vw;
}

.aboutMe--description2 {
    font-size: 2vw;
    font-weight: 500;

}

.description--degree {
    font-weight: 600;
}

.description--interest {
    font-weight: 600;
    font-style:italic;
}

.aboutMe--photo {
    margin: 2vw;
    width: 20vw;
    height: 20vw;
    border: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

    transition: box-shadow 1s;

}

.aboutMe--photo:hover {
    box-shadow: 0 0 30px #E42278;
}


/*---- STACK ----*/

.section--stack {
    border-top: 0vw solid transparent;
    height: 100vh;
    text-align: center;
}

.stack--languages, .stack--tools, .stack--learning {
    text-align: center;
}

.stack--list{
    text-align: center;
    display: inline-flex;
    
}

.stack--listed {
    padding: 1vw;
    list-style-type: none;
}

.stack--icon {
    width: 10vw;
}
